{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css">
    <title>Kenya Airways</title>
    <link rel="stylesheet" href="{% static 'home/css/bee.css' %}">
</head>

<body>
    <div class="navbar">
        <div class="company">
            <div class="logo">
                <img src="{% static 'home/images/Kenya Airways (Kenya ).jpeg' %}">
                <p>Travel in style</p>
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <ul class="navlist">
                <li>
                    <form action="#">
                        <input type="search" placeholder="Search...">
                    </form>
                </li>
                <li>
                    <a href="{% url 'home' %} " class="active">
                        <i class='bx bxs-plane'></i>
                        <span class="icon_name">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'about' %}">
                        <i class='bx bxs-info-square'></i>
                        <span class="icon_name">About Us</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'flights' %}">
                        <i class='bx bxs-plane-take-off'></i>
                        <span class="icon_name">Flight Schedule</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'shop' %}">
                        <i class='bx bxl-shopify'></i>
                        <span class="icon_name">Shop</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact_us' %}">
                        <i class='bx bx-phone-call'></i>
                        <span class="icon_name">Contact Us</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'service' %}">
                        <i class='bx bxs-user-circle'></i>
                        <span class="icon_name">Services</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        {% comment %} <a href="#"> {% endcomment %}
                            <i class='bx bx-log-in' id="sign_out"></i>
                            <span class="icon_name">Sign Out</span>
                        </a>
                </li>
            </ul>
            <div class="company_brand">
                <div class="brand">
                    <div class="brand_name">
                        <img src="{% static 'home/images/logo1.png' %}">
                        <div class="motto">The Pride of Africa</div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="toggle-btn" id="toggle-btn">
            <i class='bx bx-menu'></i>
        </div> {% endcomment %}
    </div>

    <div class="content">
        <div class="hero-section">
            <div class="booking-form">
                <h2>Book Your Flight</h2>
                <form action="#">
                    <input type="text" placeholder="Departure City" required>
                    <input type="text" placeholder="Arrival City" required>
                    <input type="date" placeholder="Departure Date" required>
                    <button type="submit">Search Flights</button>
                </form>
            </div>
        </div>
        <div class="place">
            <h2>Popular Destinations</h2>
            <div class="popular-destinations">
                <div class="destination-card">
                    <img src="{% static 'home/images/destination1.jpg' %}">
                    <h3>Nairobi</h3>
                    <h4>Discover the Heartbeat of Kenya</h4>
                    <p>Explore the vibrant capital of Kenya, where modern city life blends seamlessly with rich cultural
                        heritage. From the bustling streets to serene wildlife experiences at Nairobi National Park,
                        this city offers something for everyone. Dive into a world of diverse cuisine, vibrant markets,
                        and iconic attractions, making Nairobi the perfect gateway to your African adventure.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination2.jpg' %}">
                    <h3>London</h3>
                    <h4>Discover the Chrm of the UNited Kingdom's Capital</h4>
                    <p>Explore the historic and modern marvels of London, from the iconic Big Ben and
                        Buckingham Palace to the vibrant art and fashion scene. Enjoy world-class dining,
                        shopping at Oxford Street, and stroll through the serene parks for a full experience of this
                        cosmopolitan city.
                    </p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination3.jpg' %}">
                    <h3>Johannesburg</h3>
                    <h4>A Journey Through South Africa's Vibrant Heart</h4>
                    <p>Explore the vibrant culture and dynamic city life of Johannesburg. Known for its rich history,
                        art galleries, and dynamic nightlife, this city is the gateway to many of South Africa's key
                        attractions, including safaris and the historical Apartheid Museum.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination3.jpg' %}">
                    <h3>Dubai</h3>
                    <h4>Experience Luxury in the City of Innovation</h4>
                    <p>Dubai is a city where innovation meets luxury. Whether you’re exploring the towering Burj
                        Khalifa, indulging in luxury shopping, or enjoying the desert safari, Dubai promises an
                        unforgettable experience with its futuristic skyline and world-class attractions.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination 5.jpg' %}">
                    <h3>Paris</h3>
                    <h4>Romance and History in the City of Lights</h4>
                    <p>The romantic charm of Paris awaits. Visit iconic landmarks like the Eiffel Tower, the Louvre, and
                        the Arc de Triomphe. Savor French cuisine at quaint cafes, walk along the Seine, and immerse
                        yourself in the rich history and art of this captivating city.

                    </p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination 6.jpg' %}">
                    <h3>Amsterdam</h3>
                    <h4>Explore the Canals and Culture of the Dutch Capital</h4>
                    <p>Amsterdam is a city filled with picturesque canals, world-class museums, and rich history. Cycle
                        through the streets, visit the Anne Frank House, or take a leisurely boat tour through the
                        canals. Experience the laid-back atmosphere and cultural richness of this unique European city.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'about/js/script.js' %}"></script>

</body>

</html>