{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css">
    <title>Kenya Airways</title>
    <link rel="stylesheet" href="{% static 'home/css/bee.css' %}">
</head>

<body>
    <div class="navbar">
        <div class="company">
            <div class="logo">
                <img src="{% static 'home/images/Kenya Airways (Kenya ).jpeg' %}">
                <p>Travel in style</p>
            </div>
            <ul class="navlist">
                <li>
                    <form action="#">
                        <input type="search" placeholder="Search...">
                    </form>
                </li>
                <li>
                    <a href="#" class="active">
                        <i class='bx bxs-plane'></i>
                        <span class="icon_name">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-info-square'></i>
                        <span class="icon_name">About Us</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-plane-take-off'></i>
                        <span class="icon_name">Flight Schedule</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxl-shopify'></i>
                        <span class="icon_name">Shop</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-phone-call'></i>
                        <span class="icon_name">Contact Us</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-user-circle'></i>
                        <span class="icon_name">Services</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-log-in' id="sign_out"></i>
                        <span class="icon_name">Sign Out</span>
                    </a>
                </li>
            </ul>
            <div class="company_brand">
                <div class="brand">
                    <div class="brand_name">
                        <img src="{% static 'home/images/logo1.png' %}">
                        <div class="motto">The Pride of Africa</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-btn" id="toggle-btn">
            <i class='bx bx-menu'></i>
        </div>
    </div>

    <div class="content">
        <div class="hero-section">
            <div class="booking-form">
                <h2>Book Your Flight</h2>
                <form action="#">
                    <input type="text" placeholder="Departure City" required>
                    <input type="text" placeholder="Arrival City" required>
                    <input type="date" placeholder="Departure Date" required>
                    <button type="submit">Search Flights</button>
                </form>
            </div>
        </div>
        <div class="place">
            <h2>Popular Destinations</h2>
            <div class="popular-destinations">
                <div class="destination-card">
                    <img src="{% static 'home/images/destination1.jpg' %}">
                    <h3>Nairobi</h3>
                    <p>Experience the beauty of Kenya's capital.Discover the vibrant culture of Kenya's capital. Nairobi
                        offers a blend of modern city life
                        and rich heritage, with attractions like the Nairobi National Park, bustling markets, and
                        diverse dining experiences.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination2.jpg' %}">
                    <h3>Maasai Mara</h3>
                    <p>Witness the Great MigrationExperience the beauty of Kenya's capital.Discover the vibrant culture
                        of Kenya's capital. Nairobi
                        offers a blend of modern city life
                        and rich heritage, with attractions like the Nairobi National Park, bustling markets, and
                        diverse dining experiences.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination3.jpg' %}">
                    <h3>Mombasa</h3>
                    <p>Enjoy beautiful beaches and rich culture.Experience the beauty of Kenya's capital.Discover the
                        vibrant culture of Kenya's capital. Nairobi
                        offers a blend of modern city life
                        and rich heritage, with attractions like the Nairobi National Park, bustling markets, and
                        diverse dining experiences.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination3.jpg' %}">
                    <h3>Lake Victoria</h3>
                    <p>Discover the largest lake in Africa.Experience the beauty of Kenya's capital.Discover the vibrant
                        culture of Kenya's capital. Nairobi
                        offers a blend of modern city life
                        and rich heritage, with attractions like the Nairobi National Park, bustling markets, and
                        diverse dining experiences.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination 5.jpg' %}">
                    <h3>Lake Nakuru</h3>
                    <p>Famous for its flamingos and wildlife.Experience the beauty of Kenya's capital.Discover the
                        vibrant culture of Kenya's capital. Nairobi
                        offers a blend of modern city life
                        and rich heritage, with attractions like the Nairobi National Park, bustling markets, and
                        diverse dining experiences.</p>
                </div>
                <div class="destination-card">
                    <img src="{% static 'home/images/destination 6.jpg' %}">
                    <h3>Samburu</h3>
                    <p>Explore the unique wildlife of Samburu National Reserve.Experience the beauty of Kenya's
                        capital.Discover the vibrant culture of Kenya's capital. Nairobi
                        offers a blend of modern city life
                        and rich heritage, with attractions like the Nairobi National Park, bustling markets, and
                        diverse dining experiences.</p>
                </div>
            </div>
        </div>

    </div>


    <script src="script.js"></script>
</body>

<!-- <body>
   

    <script>
        let button = document.querySelector("#button");
        let navbar = document.querySelector(".navbar");

        button.onclick = function () {
            navbar.classList.toggle("active");
        }
    </script>

</body> -->

</html>